.Button {
  width: 200px;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.05s ease-in-out;
  text-align: center;
  font-size: 22px;
  border-radius: 15px;
  padding: 10px 25px;

  &.minus {
    background-color: white;
    box-shadow: 0 4px 0 #bdbdbd;
    border: solid 0 #bdbdbd;
  }
  &.minus {
    background-color: #e63946;
    color: #fff;
    box-shadow: 0 4px 0 darken(#e63946, 10%);
    border: 1px solid darken(#e63946, 15%);
  }

  &.plus {
    background-color: #2a9d8f;
    color: #fff;
    box-shadow: 0 4px 0 darken(#2a9d8f, 10%);
    border: 1px solid darken(#2a9d8f, 15%);
  }

  &.regimeChange {
    margin-top: 10px;
    background-color: #1a1adc;
    color: #fff;
    box-shadow: 0 4px 0 darken(#2a9d8f, 10%);
    border: 1px solid darken(#2a9d8f, 15%);
  }

  &.reset {
    background-color: #1a1a36;
    color: #fff;
    box-shadow: 0 4px 0 darken(#651d1d, 10%);
    border: 1px solid darken(#2a9d8f, 15%);
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: none;
  }
  &.send-invite-btn {
    background-color: rgb(251, 80, 0);
    padding: 16px 15px;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    width: 100%;
    border: 0;
    outline: none;
    box-shadow: 0 7px 10px rgba(251, 80, 0, 0.4);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin: auto;

    &:hover {
      background-color: rgb(255, 97, 24);
    }

    &:active {
      transform: translateY(2px);
      box-shadow: none;
    }
  }
}
