.logoWrapper {
  text-align: center;
}

.navigation {
  background-color: #D43728;
  box-shadow: 1px 1px 10px #777;
}

.nav {
  list-style-type: none;
  margin: 0 10px 0 -30px;
  display: flex;
  flex-wrap: wrap;
}
