.logoWrapper {
  text-align: center;
}

.navigation {
  background-color: #D43728;
  box-shadow: 1px 1px 10px #777;
}

.nav {
  list-style-type: none;
  margin: 17px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.nav button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #32a166;
  outline: 2px solid #7EFFB2;
  padding: 30px 60px;
  overflow: hidden;
  transition: color 1s;
  margin: 10px 0;
  cursor: pointer;
}

.nav button:hover {
  color: #090909;
}
.nav button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  z-index: -1;
  width: 150%;
  height: 100%;
  background-color: #7EFFB2;
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  transition: transform 1s;

}
.nav button:hover::before {
  transform: scaleX(1) skewX(35deg);
}
