* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
  flex-flow: column nowrap;
  padding:30px 0;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  transform: scale(0.5);
  transition: 0.5s;
  width: 40%;
  justify-content: center;
}
.modal__content.active {
  transform: scale(1);
}

.cross {
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 24px;
  width: 24px;
  opacity: 0.3;
  cursor: pointer;
}
